# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e9cdb1c118575c10224fd6243dac91dbe094490cb01a7c6c4e2c6a552b9433c905aff175d480213e4b7b563375dbe1e4e80cb831b00a121ab61b416208a64fa1

test:
  secret_key_base: 45521d032ecd035ee3b3f0812857ce124803998e611e52b45b4d474dafaacc5b43fce80f78fb66f23a84446a30f8b636c016c4e120e3f4a97fbd7fe13700e8b9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
